build/markusklink.properties
build/local.properties
/gwt-unitCache
/builddir
/dist
war/WEB-INF/lib/gwt-servlet.jar
war/WEB-INF/classes
war/WEB-INF/deploy
tomcat/
taskdb.*
.gwt/
test/build/
test/compile/

#mac stuff
.DS_Store
/.classpath
