/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
body,table td,select {
	background-color: white;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.bigFont {
	font-size: large;
}

.small-font {
	font-size: x-small;
}

.bold {
	font-weight: bold;
}

.wordWrap {
	width: 100%;
	word-wrap: break-word;
}

.tasktitle {
	word-wrap: break-word;
	font-size: small;
	margin: 4px;
}

.taskdesc {
	font-size: x-small;
	margin: 8px;
	max-width: 100%;
	max-height: 60px;
	overflow: scroll;
}
.gwt-TextArea {
	font-family: Arial, sans-serif;
}

.label {
	margin: 8px;
}